# This doesn't seem to work right now so is just here as an example...

# A sample systemd config file. To make this work do the following:
#  - Edit the username (all the 'pi's) and Dexter config in the below to match
#    what you want
#  - Copy the file to /etc/systemd/system/
#  - Enable and start it:
#    - sudo systemctl enable dexter
#    - sudo systemctl start dexter

[Unit]
Description=Dexter
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/dexter
ExecStart=env CONFIG=/home/pi/dexter/pi_config /home/pi/dexter/run
Restart=always

[Install]
WantedBy=multi-user.target
